body{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.container{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
    text-align: center;
    height: 300px;
    justify-content: center;
}

.head{
   display: flex;
   justify-content: center;
   align-items: center;
}

.blue{
    background-color: #007BFF;
    color: white;
    align-content: center;
    border: 1px solid #F5F5F5;
}

button{
    cursor: pointer;
}

.grey{
    border: 1px solid #F5F5F5;
    align-content: center;
}

.red{
    background-color: red;
    color: white;
    align-content: center;
}