div{
    
}

.container{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px;
    text-align: center;
    height: 200px;
    justify-content: center;
}

.head{
    margin-left: auto;
    margin-right: auto;
}

.blue{
    background-color: #007BFF;
    color: white;
}

button{
    cursor: pointer;
}

.grey{
    border: 1px solid #F5F5F5;
}

.red{
    background-color: red;
    color: white;
}